.header-md::after,
.footer-md::before {
    background: none;
}
.title {
    height: 18px;
    left: 43.39px;
    margin-top: 33px;
    margin-bottom: 10px;
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
    color: #333333;
}
.ios .title {
    font-size: 16px;
}
.subTitle {
    height: 18px;
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #333333;
    margin: auto;
}
.ios .subTitle {
    font-size: 16px;
}
.shadowDiv {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    z-index: 9;
    position: relative;
}
ion-content {
    --ion-background-color: #f9f9f9;
}
.itemDivider {
    width: 67px;
    height: 0px;
    margin: auto;
    border-color: rgba(196, 196, 196, 0.6);
    margin-bottom: 25px;
}
ion-card {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 19px;
    box-shadow: none !important;
}
.row1 {
    margin-left: 5px;
}
.img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 15px;
}
.col1 {
    margin-top: -5px;
}
.name {
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 17px;
    margin: 0;
    color: #000000;
}
.ios .name {
    font-size: 14px;
}
.text {
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 300;
    font-size: 0.8125em;
    line-height: 16px;
    color: #4f4f4f;
    margin: 0;
}
.ios .text {
    font-size: 13px;
}
.col2 {
    margin-left: 15px;
}
.text2 {
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.78125em;
    color: #39639d;
    margin: 0;
    margin-left: 10px;
}
.ios .text2 {
    font-size: 12.5px;
}
.text3 {
    width: 319px;
    height: 45px;
    margin: 0;
    left: 28px;
    top: 285px;
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 300;
    font-size: 0.9375em;
    line-height: 17px;
    color: #4f4f4f;
    margin-left: 10px;
    margin-top: 2px;
}
.ios .text3 {
    font-size: 14px;
}
.cercle {
    float: left;
    margin-left: 15px;
    width: 14px;
    margin-right: 7px;
    margin-top: 6px;
}
.number {
    margin-top: -40px;
}
.text4 {
    margin: 0;
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.78125em;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #39649e;
    float: left;
    width: 185.13px;
}
.ios .text4 {
    font-size: 12.5px;
}
.buttonClass {
    padding-left: 15px;
    margin-right: 10px;
    margin-bottom: 12px;
    margin-top: 3px;
    // margin-left: -15px;
    float: right;
    width: 104px;
    height: 22px;
    background: linear-gradient(161.25deg, #39639d 0%, #2789ae 103.13%);
    border-radius: 100px;
    outline: none;
    ion-img {
        float: left;
    }
}
.ios .buttonClass {
    height: 25px;
}
.iconVoir {
    width: 12px;
    height: 16px;
    margin-left: 5px;
    float: left;
    margin-top: 2px;
}
.textButtonVoir {
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8125em;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 2px;
    float: left;
    margin-left: 15px;
    text-transform: uppercase
    // margin: auto;
    // // margin-left: -15px;
    // margin-top: 2px;
}
.ios .textButtonVoir {
    font-size: 13px;
}
.text4 span {
    color: #4f4f4f;
    display: contents;
}
.line {
    width: 67px;
    height: 0px;
    border: 1px solid rgba(196, 196, 196, 0.6);
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 0px;
}
.line2 {
    width: 67px;
    height: 0px;
    margin: 0 auto;
    margin-top: 43px;
}
.ios .line2 {
    width: 0px;
    height: 0px;
    margin-top: 0px;
}
.ios .heightShadow {
    height: 43px;
}
.margin {
    margin-top: 43px;
}
.scroll {
    height: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}
ion-card:first-child {
    margin-top: 28px;
}
ion-card:last-child {
    margin-bottom: 80px;
}
@media (max-device-height: 568px) {
    .ios .heightShadow {
        height: 20px;
    }
    .subTitle {
        height: 18px;
        margin: auto;
    }
    .line {
        width: 67px;
        height: 0px;
        border: 1px solid rgba(196, 196, 196, 0.6);
        margin: 0 auto;
        margin-top: 20px;
    }
    ion-card:first-child {
        margin-top: 23px;
    }
    .buttonClass {
        margin-right: 10px;
        margin-bottom: 12px;
        margin-top: 3px;
        // margin-left: -15px;
        float: right;
        width: 85px;
        height: 22px;
        background: linear-gradient(161.25deg, #39639d 0%, #2789ae 103.13%);
        border-radius: 100px;
        outline: none;
        ion-img {
            float: left;
        }
    }
    .iconVoir {
        width: 12px;
        height: 16px;
        margin-right: 5px;
    }
    .textButtonVoir {
        margin: auto;
        margin-left: -5px;
        margin-top: 2px;
    }
    .text4 {
        margin: 0;
        font-family: "UntitledSans";
        font-style: normal;
        font-weight: normal;
        font-size: 11.5px;
        line-height: 13px;
        display: flex;
        align-items: center;

        color: #39649e;
    }
    .row {
        margin-top: -15px;
    }
}

@media (max-device-width: 375px) {
    .text4 {
        width: 180px;
    }
}
@media (max-device-width: 320px) {
    .text4 {
        width: 145px;
    }
}
@media (min-device-height: 812px) {
    .ios .title {
        margin-top: 66px;
    }
}
