<ion-header  class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'new_search_metier_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
  <div class="borderheader">
  </div>
</ion-header>
<ion-content scroll-y="false">
  <ng-template #withFlags let-attrs="attrs">
    <ion-row class="row1" >
      <ion-col>
        <p class="textSearch" [innerHTML]="attrs.data | boldprefix:attrs.keyword" (click)="selectItem(attrs.data)"></p>
      </ion-col>
      <!--<ion-checkbox class="checkBox" (click)="selectItem(attrs.data)"></ion-checkbox>-->
    </ion-row>
  </ng-template>

  <div class="ion-form-group">
    <ion-auto-complete (click)="setSearchBarFocus()" [options]="{ placeholder : 'Définir un metier' }"  [template]="withFlags" [dataProvider]="autoCompleteMetiers" [labelPosition]="'floating'"></ion-auto-complete>
   
  </div>
  <!--
     *ngIf='!ionAutoCompleteFocused'
  -->
  <p class="text1">Dernières recherches</p>
  <ion-grid>
    <ion-row class="row1" *ngFor="let item of lastJobSearch">
      <ion-col>
        <p class="text2">{{item}}</p>
      </ion-col>
      <ion-checkbox *ngIf="currentSearch && currentSearch.jobs && (currentSearch.jobs.indexOf(item) != -1)" checked="true"  (click)="checkListCheck(item)"></ion-checkbox>
      <ion-checkbox *ngIf="!currentSearch || !currentSearch.jobs || (currentSearch.jobs.indexOf(item) == -1)" checked="false"  (click)="checkListCheck(item)"></ion-checkbox>
    </ion-row>

  </ion-grid>

  <div  class="divButton">
      <button class="button" [disabled]='valueInput=="" && !check1' (click)='getParamAndGoBack()'>
        <p class="textButton">{{ 'next_button' | translate }}</p>
      </button>
  </div>
 
</ion-content>
