<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'alert_connection_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<p class="text">{{ 'alert_connection_page_help_text' | translate }}</p>

<div class="newIntro">
  <p class="textNewIntro">{{ 'alert_connection_page_from_salesfriend_label' | translate }}</p>
  <ion-toggle class='ion-toggle' ></ion-toggle>
</div>
<div class="emptyDiv"></div>
<div class="newIntro">
  <p class="textNewIntro">{{ 'alert_connection_page_from_email_label' | translate }}</p>
  <ion-toggle class='ion-toggle'></ion-toggle>
</div>
</ion-content>
