<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'change_password_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<p class="text1">{{ 'change_password_current_password_label' | translate }} </p>
<ion-input class="input" type='password' ></ion-input>

<p class="text1">{{ 'change_password_new_password_label' | translate }} </p>
<ion-input class="input" type='password'></ion-input>

<p class="text1">{{ 'change_password_confirm_password_label' | translate }} </p>
<ion-input class="input" type='password'></ion-input>
<button class="button" disabled='true'>
  <p class="textButton">{{ 'save_button' | translate }}</p>
</button>
</ion-content>
