<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'data_download_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<p class="text">{{ 'data_download_page_help_text' | translate }}</p>
<p class="text2">{{ 'data_download_email_label' | translate }}</p>
<ion-card class="card">
<p class="text3">olivier.mathiot@themcamp.com</p>
</ion-card>
<button class="button">
  <p class="textButton">{{ 'data_download_request_data_button' | translate }}</p>
</button>
</ion-content>
