<ion-content fullscreen scroll-y="false">
  <ion-grid>
    <ion-row class="rowTitle">
      <ion-col size="7">
        <p class="text1" (click)="closeModal()">
          {{ "later_label" | translate }}
        </p>
      </ion-col>
      <ion-col>
        <img
          src="/assets/img/iconGoBack.png"
          class="icon"
          (click)="closeModal()"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="text2">{{ "popup_invit_invitation_label" | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="row2">
      <img [src]="user.thumbnail_path" class="img" />
    </ion-row>
    <ion-card (click)="modifText()">
      <textarea
        *ngIf="textArea"
        class="textArea"
        [innerHTML]="messageInvit"
        [(ngModel)]="messageInvit"
      >
      </textarea>
      <p *ngIf="!textArea" class="textCard" [innerHTML]="messageInvit"></p>
      <p class="textCard2"></p>
    </ion-card>
    <div class="center">
      <img
        *ngIf="!starBlack"
        src="/assets/images/star.png"
        class="img3"
        (click)="changeIconStar()"
      />
      <img
        *ngIf="starBlack"
        src="/assets/images/star2.png"
        class="img3"
        (click)="changeIconStar()"
      />
    </div>
    <p class="text3">{{ "popup_invit_default_message_label" | translate }}</p>

    <div class="center">
      <button class="buttonSynchrize2" (click)="sentInvit()">
        <p class="textButtonSynch">
          <span class="iconLinkedIn">in</span
          ><span class="textSpan">{{ "send_button" | translate }}</span>
        </p>
      </button>
    </div>
    <p class="textCancel" (click)="closeModal()">
      {{ "cancel_button" | translate }}
    </p>
  </ion-grid>
</ion-content>
