<ion-header [hidden]='inputFocus'  class='header'>
  <ion-grid class="gridHeader">
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack'  (click)='goBack()'/>
      <p class="title">Mot de passe oublié</p>
    </ion-row>
  </ion-grid>
  <div class="center">
    <img  src="/assets/images/logo.png" class="logo"/>
  </div>
  <p class="text1">Saisissez votre e-mail de contact,<br> sur lequel nous vous enverrons<br> un lien de modification.</p>
</ion-header>
<ion-header *ngIf='inputFocus' class="divShadow">
  <ion-grid class="gridHeader">
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">Mot de passe oublié</p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content scroll-y="false">
  <p class="textInput">E-Mail</p>
    <ion-input autocapitalize="words" (focusin)='onFocus()' 
    (focusout)="onBlur()"  class="input" [class.focusedInput]='inputFocus'  [(ngModel)]='email'></ion-input>

    <p [hidden]='inputFocus' class="text2"> Vous n’avez plus accès à votre mail,<br> verifiez <span>ici</span> votre identité. </p>
    <div [hidden]='inputFocus'>
      <button class="button"><p class="textButton">ENVOYER LE LIEN</p></button>
    </div>

</ion-content>
