<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'security_and_connection_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <p class="text1">{{ 'security_and_connection_page_connection_label' | translate }}</p>
  <ion-card class="card">
    <ion-row (click)='goPageChangePassword()'>
      <ion-col>
        <p class="textCard2">{{ 'security_and_connection_page_change_password_label' | translate }}</p>
      </ion-col>
        <img src='/assets/img/sup.png' class="supCard2" />
    </ion-row>
    <div class='borderCard2'></div>
    <ion-row (click)='goPageAlertConnection()'>
      <ion-col>
        <p class="textCard2">{{ 'security_and_connection_page_connection_alerts_label' | translate }}</p>
      </ion-col>
        <img src='/assets/img/sup.png' class="supCard2" />
    </ion-row>
    <div class='borderCard2'></div>
    <ion-row (click)='goPageActivityConnection()' >
      <ion-col>
        <p class="textCard2">{{ 'security_and_connection_page_connection_activity_label' | translate }}</p>
      </ion-col>
        <img src='/assets/img/sup.png' class="supCard2" />
    </ion-row>
  </ion-card>
  <p class="text1">{{ 'security_and_connection_page_data_label' | translate }}</p>
  <ion-card class="card2">
    <ion-row (click)='goPageDataDownload()'>
      <ion-col>
        <p class="textCard">{{ 'security_and_connection_page_download_data_label' | translate }}</p>
      </ion-col>
        <img src='/assets/img/sup.png' class="supCard" />
    </ion-row>
  </ion-card>
</ion-content>
