// .iconGoBack {
//   outline: none;
//   background: rgba(0, 0, 0, 0.0001);
//   box-sizing: border-box;
//   height: 16px;
//   width: 8px;
//   margin-top: 20px;
//   margin-left: 15px;
//   margin-right: -40px;
// }
ion-toolbar {
  border-radius: 13px 13px 0px 0px;
  --border-radius: 13px 13px 0px 0px;
}
.collapsed {
  margin-top: 77%;
}
.expanded {
  margin-top: 0%;
}
.header-md::after,
.footer-md::before {
  background: none;
}
// .ios .iconGoBack {
//   height: 16px;
//   width: 8px;
//   margin-top: 21px;
// }
// .title {
//   margin: auto;
//   margin-top: 21px;
//   font-family: "UntitledSans";
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 14px;
//   letter-spacing: 0.05em;

//   color: #ffffff;
// }
.rowHeader {
    margin-top: 16px;
    height: 70px;
}
.header {
    background: linear-gradient(316.34deg, #2789AE 0%, #39639D 100%);
}
.content {
    // position: absolute;
    width: 100%;
    height: 810px;
    left: 0px;
    top: 80px;

    background: #F9F9F9;
    // box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.12);
    // border-radius: 20px 20px 0px 0px;
}
.center {
    text-align: center;
}
.tiret {
    width: 26px;
    height: 6px;
    margin-top: 20px;
}
.titleContent {
    font-family: 'UntitledSans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #39639D;
    margin-left: 27px;
    margin-top: 38px;
}
.card1 {
    width: 100%;
    height: 99px;

    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
    margin: auto;
}
.card2 {
    width: 100%;
    height: 171px;

    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: none;
    margin: auto;
}
.textCard1 {
    width: 311px;
    height: 48px;

    font-family: 'UntitledSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
    margin-left: 26px;
    margin-right: 38px;
    margin-top: 15px;
}
.textCard2 {
    width: 325px;
    height: 99px;

    font-family: 'UntitledSans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 133%;
    /* or 19px */

    letter-spacing: 0.24px;

    color: #000000;
    margin-left: 26px;
    margin-right: 38px;
    margin-top: 15px;
}
.button2 {
    // position: absolute;
    // left: 50%;
    // margin-left: -145px;
    bottom: 120px;
    width: 289px;
    height: 36px;
    background: linear-gradient(90.91deg, #39639D -1.43%, #2789AE 100%);
    border-radius: 100px;
    outline: none;
    position: fixed;
    left: 50%;
    margin-left: -145px;
    bottom: 25px;
    z-index: 999;
}
.textButton2 {
    font-family: 'UntitledSans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.text {
    font-family: 'UntitledSans';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 146.9%;
    /* or 15px */

    letter-spacing: 0.24px;

    color: #39639D;
    width: 321px;
    margin: auto;
    margin-top: 15px;
}
.text span {
    font-weight: 500;
}
.iconGoBack {
    outline: none;
    background: rgba(0, 0, 0, 0.0001);
    box-sizing: border-box;
    height: 16px;
    width: 8px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: -40px;
}
.background {
    --ion-background-color:  linear-gradient(167.96deg, #39639D 0%, #2789AE 100%);
   
}
.background2 {
    --ion-background-color: #F9F9F9;
}
.toolbar {
    border-radius: 13px 13px 0px 0px;
}
.ios .iconGoBack {
    height: 16px;
    width: 8px;
    margin-top: 20px;
}
.title {
    margin: auto;
    margin-top: 21px;
    font-family: "UntitledSans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}
.rowHeader {
    margin-top: 16px;
}
// ion-content {
//     --ion-background-color: linear-gradient(155.21deg, #39639D 0%, #2789AE 100%);
// }
.text1 {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 24px;
  margin-top: 30%;
}
.iconMetier {
  width: 34px;
  height: 34px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.textMetier {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: 500;
  font-size: 12.5px;
  line-height: 13px;
  /* identical to box height, or 104% */
  display: flex;
  align-items: center;

  color: #ffffff;
  margin-left: 10px;
  margin-top: 25px;
}
.textMetier2 {
  margin-top: 19px;
}
.textMetier span {
  margin-left: 2px;
}
.supWhite {
  width: 6px;
  height: 13px;
  margin-right: 26px;
  margin-top: 35px;
}
.horizontalLine {
  // width: 269px;
  height: 1px;
  /* width: 100%; */
  background: #eaeaea;
  opacity: 0.4;
  // border: 1px solid #eaeaea;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 26px;
}
.button {
  width: 157px;
  height: 24px;
  float: right;
  background: #39639d;
  border-radius: 100px;
  margin-top: 37px;
  margin-right: 26px;
  outline: none;
}
.textButton {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;
  float: left;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 15px;
}
.plus {
  height: 10px;
  width: 10px;
  float: right;
  margin-right: 3px;
  margin-top: 1px;
}
.divButton {
  width: 100%;
  height: 131px;

  background: #f9f9f9;
  box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.12);
  border-radius: 13px 13px 0px 0px;
  position: fixed;
  bottom: 0px;
}
.tiret {
  width: 26px;
  height: 6px;
  margin: auto;
}
.divImg1 {
  text-align: center;
  margin-top: 10px;
}
.buttonContinue {
  width: 289px;
  height: 36px;
  background: linear-gradient(90.87deg, #39639d 0%, #2789ae 102.22%);
  border-radius: 100px;
  // margin-top: 35px;
  outline: none;
  position: fixed;
  left: 50%;
  margin-left: -145px;
  bottom: 25px;
  z-index: 999;
}
.buttonContinue[disabled] {
  background: #c4c4c4;
}
.textButtonContinue {
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #ffffff;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.divButtonContinue {
  text-align: center;
}
.textInputMetier {
  // width: 100%;
  font-family: "UntitledSans";
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 13px;

  color: #ffffff;
  opacity: 0.4;
  margin-left: 10px;
  margin-bottom: -10px;
  margin-top: -10px;
  width: 237px;
}
@media (min-device-height: 812px) {
  .ios .rowHeader {
    margin-top: 35px;
  }
}
@media (max-device-height: 568px) {
  .ios .iconGoBack {
    height: 16px;
    width: 8px;
    margin-top: 20px;
    margin-left: 15px;
  }
}
