<ion-header  class="headerListeAmis">
  <div [class.bg]='showFiltre2'>
  </div>
  <ion-grid >
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">Introductions réalisées</p>
    </ion-row>
  </ion-grid>
  <ion-row class="rowHeader2">
    <img src="/assets/img/smallLogo2.png" class="iconOpportunity"/> <p class="textOpportunity">4</p>
  </ion-row>
</ion-header>

<ion-content>
<ion-card class="card">
  <p class="textTitleCard">Directeur marketing en beauté</p>
  <div  class="divZoneGeo1">
    <div class="divGeo" >
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région de paris</p>
      </div>
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région sud ouest</p>
      </div>
      <div class="divZoneGeo" >
          <p class="textZoneGeo" >+2 autres</p>
        </div>
    </div>
  </div>
  <div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard">
    <img src="/assets/img/Sophie.png" />
  </ion-avatar>
  <ion-col>
    <p class="text1Card">Sophie Gazet Antoine</p>
    <p class="text2Card">Zagett</p>
    <p class="text3Card">Directeur Marketing</p>
  </ion-col>
</ion-row>
<div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard2">
    <img src="/assets/img/arnaud.png"/>
  </ion-avatar>
  <ion-col>
    <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
    <p class="text4CardDate">Le <span>19.09.20</span></p>
  </ion-col>
 
</ion-row>
</ion-card>

<ion-card class="card">
  <p class="textTitleCard">Directeur marketing en beauté</p>
  <div  class="divZoneGeo1">
    <div class="divGeo" >
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région de paris</p>
      </div>
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région sud ouest</p>
      </div>
      <div class="divZoneGeo" >
          <p class="textZoneGeo" >+2 autres</p>
        </div>
    </div>
  </div>
  <div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard">
    <img src="/assets/img/amelieLens.png" />
  </ion-avatar>
  <ion-col>
    <p class="text1Card">Amelie Lens</p>
    <p class="text2Card">Techno Parade</p>
    <p class="text3Card">Ambassadrice</p>
  </ion-col>
</ion-row>
<div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard2">
    <img src="/assets/img/arnaud.png"/>
  </ion-avatar>
  <ion-col>
    <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
    <p class="text4CardDate">Le <span>19.09.20</span></p>
  </ion-col>
 
</ion-row>
</ion-card>

<ion-card class="card">
  <p class="textTitleCard">Directeur marketing en beauté</p>
  <div  class="divZoneGeo1">
    <div class="divGeo" >
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région de paris</p>
      </div>
      <div class="divZoneGeo" >
        <p class="textZoneGeo" >Région sud ouest</p>
      </div>
      <div class="divZoneGeo" >
          <p class="textZoneGeo" >+2 autres</p>
        </div>
    </div>
  </div>
  <div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard">
    <img src="/assets/img/Sophie.png" />
  </ion-avatar>
  <ion-col>
    <p class="text1Card">Sophie Gazet Antoine</p>
    <p class="text2Card">Zagett</p>
    <p class="text3Card">Directeur Marketing</p>
  </ion-col>
</ion-row>
<div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard2">
    <img src="/assets/img/arnaud.png"/>
  </ion-avatar>
  <ion-col>
    <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
    <p class="text4CardDate">Le <span>19.09.20</span></p>
  </ion-col>
 
</ion-row>
</ion-card>
</ion-content>
