<ion-header [hidden]='inputFocus4 || inputFocus5' class="header">
  <div class="center"> 
    <img src="/assets/images/logo.png" class="img"/>
  </div>
  
</ion-header>
<ion-header *ngIf='inputFocus4 || inputFocus5' class="header">
  <div  class="divShadow">
    <img src="/assets/images/iconGoBack.png" class="iconGoBack" (click)='goBack()'/>
    <p class="textVerif">{{ 'verif_password_page_title' | translate }}</p>
  </div>
</ion-header>
<ion-content  fullscreen scroll-y="false">
  <ion-avatar class="img1">
    <img [hidden]=' inputFocus4 || inputFocus5'
    [src]="picture" />
  </ion-avatar>
  
   
      
      <p [hidden]=' inputFocus4 || inputFocus5' class="text2">{{ 'verif_password_page_title' | translate }}</p>
      <form [formGroup]="matching_passwords_group">
        <div class="mover">
          <p class="textInput4">{{ 'verif_password_define_password_label' | translate }}</p>
          <ion-input #Field4 (keyup.enter)="gotoNextField(Field5)" placeholder='{{placeholder}}'
            (focusin)='onFocusPassword1()' (ionInput)="checkPassword($event)" (focusout)='onBlurPassword1()' type="password" class="input" [class.misMatch]="error" [class.focusedInput]='inputFocus4' formControlName="password" required></ion-input>
            <!-- <span class="error ion-padding" *ngIf="matching_passwords_group.controls.password.errors?.minlength">
                Min length of password is 8 . 
              </span> -->
              <div class="center">
              <p class="error" *ngIf="numericPassword">
                   {{ 'verif_password_password_too_simple_error' | translate }} 
              </p></div>
          <p class="textInput5">{{ 'verif_password_confirm_password_label' | translate }}</p>
          <ion-input #Field5 (keyup.enter)="goSpinner()" type="password" placeholder='{{placeholder2}}' (focusin)='onFocusPassword2()'
            (focusout)='onBlurPassword2()' class="input" [class.misMatch]="error" [class.focusedInput]='inputFocus5' formControlName="confirmPassword" required></ion-input>
          <p *ngIf="error" class="textMisMatch">
            {{ 'verif_password_password_not_matching_error' | translate }}
          </p>
    
            <!-- <ion-item lines="none" class="itemCheck"> -->
            <div [hidden]=' inputFocus4 || inputFocus5' class="divCheck" >
              <ion-grid>
                <ion-row class="rowCheck">
    
                  <ion-checkbox [class.checkValid]="
                      matching_passwords_group.controls.password.valid &&
                      matching_passwords_group.controls.confirmPassword.valid 
                    " >
                  </ion-checkbox>
                  <p class="textCheckBox" [innerHTML]="'verif_password_stay_connected_label' | translate"></p>
                   
                  </ion-row>
                 
                </ion-grid>
              </div>
        </div>
        
            <div [hidden]=' inputFocus4 || inputFocus5' class="center">
              <!-- [disabled]="!matching_passwords_group.valid" -->
                <button class="buttonContinue3"  (click)="goSpinner()">
                    <p class="textButtonContinue">{{ 'continue_button' | translate }}</p>
                  </button>
        
            </div>
      </form>
    
</ion-content>
