<ion-header  class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'new_search_criterias_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
  <div class="borderheader">
  </div>
</ion-header>
<ion-content scroll-y="false">
 <p class="text1" [innerHTML]="'new_search_criterias_page_description' | translate"></p>
  <div class="divButton" (click)='goPageNewSearchCriteresDetails()'>
      <button class="button">
        <p class="textButton">{{ 'next_button' | translate }}</p>
      </button>
  </div>
 
</ion-content>
