<ion-content scroll-y="false">
  <div class="center">
    <img src="assets/images/logoSF.png" class="logo"/>
  </div>
  <p class="text1">{{ 'login_page_1_welcome' | translate }}</p>
  <p class="text2" [innerHTML]="'login_page_1_message' | translate"></p>
  <div class="center">
    <button class="buttonSignUp" (click)='signUp()'>
      <p class="textButton1">{{ 'signup_button' | translate }}</p>
    </button>
  </div>
  <div class="center">
    <ion-button class="buttonConnect" (click)='signIn()'>
      <p class="textButton2">{{ 'connect_button' | translate }}</p>
    </ion-button>
  </div>
</ion-content>