<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'notifications_push_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <p class="text1">{{ 'notifications_push_page_general_category' | translate }}</p>
  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_new_introductions' | translate }}</p>
    <ion-toggle class='ion-toggle' ></ion-toggle>
  </div>
  <p class="text2">{{ 'notifications_push_page_new_introductions_example' | translate }}</p>

  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_new_friends' | translate }}</p>
    <ion-toggle class='ion-toggle' checked='true' ></ion-toggle>
  </div>
  <p class="text2">{{ 'notifications_push_page_new_friends_example' | translate }}</p>

  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_accepted_friend_requests' | translate }}</p>
    <ion-toggle class='ion-toggle' checked='true'></ion-toggle>
  </div>
  <p class="text2">{{ 'notifications_push_page_accepted_friend_requests_example' | translate }}</p>

  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_reminder_notifications' | translate }} </p>
    <ion-toggle class='ion-toggle' checked='true'></ion-toggle>
  </div>
  <p class="text2">{{ 'notifications_push_page_reminder_notifications_example' | translate }}</p>
  <div class="lineHorizontal"></div>
  <p class="text1">{{ 'notifications_push_page_parameters_category' | translate }}</p>
  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_pause_notifications' | translate }} </p>
    <ion-toggle class='ion-toggle' ></ion-toggle>
  </div>
  <div class="emptyDiv"></div>
  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_show_previews' | translate }} </p>
    <ion-toggle class='ion-toggle' checked='true'></ion-toggle>
  </div>
  <div class="emptyDiv"></div>
  <div class="newIntro">
    <p class="textNewIntro">{{ 'notifications_push_page_sounds_and_vibrations' | translate }} </p>
    <ion-toggle class='ion-toggle' checked='true'></ion-toggle>
  </div>
  <div class="emptyDiv"></div>
</ion-content>