<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'activity_connection_page_title' | translate }} </p>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
<ion-row>
  <img src="/assets/img/location.png" class="location"/>
  <ion-col>
    <p class="text1">iPhone XR · <span>Paris, France</span> </p>
    <p class="text2">{{ 'activity_connection_active_now' | translate }}</p>
  </ion-col>
</ion-row>
</ion-content>
