<ion-header  class="headerListeAmis">
  <div [class.bg]='showFiltre2'>
  </div>
  <ion-grid >
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">Introductions réalisées</p>
    </ion-row>
  </ion-grid>
  <ion-row class="rowHeader2">
    <img src="/assets/img/smallLogo2.png" class="iconOpportunity"/> <p class="textOpportunity">4</p>
  </ion-row>
</ion-header>

<ion-content>
<ion-card class="card">
<ion-row>
  <ion-avatar class="imgCard">
    <img src="/assets/img/Sophie.png" />
  </ion-avatar>
  <ion-col>
    <p class="text1Card">Sophie Gazet Antoine</p>
    <p class="text2Card">Zagett</p>
    <p class="text3Card">Directeur Marketing</p>
  </ion-col>
</ion-row>
<div class="separator2"></div>
<ion-row>
  <ion-avatar class="imgCard2">
    <img src="/assets/img/arnaud.png"/>
  </ion-avatar>
 <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
</ion-row>
</ion-card>
<ion-card class="card">
  <ion-row>
    <ion-avatar class="imgCard">
      <img src="/assets/img/Sophie.png" />
    </ion-avatar>
    <ion-col>
      <p class="text1Card">Sophie Gazet Antoine</p>
      <p class="text2Card">Zagett</p>
      <p class="text3Card">Directeur Marketing</p>
    </ion-col>
  </ion-row>
  <div class="separator2"></div>
  <ion-row>
    <ion-avatar class="imgCard2">
      <img src="/assets/img/arnaud.png"/>
    </ion-avatar>
   <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
  </ion-row>
  </ion-card>
  <ion-card class="card">
    <ion-row>
      <ion-avatar class="imgCard">
        <img src="/assets/img/Sophie.png" />
      </ion-avatar>
      <ion-col>
        <p class="text1Card">Sophie Gazet Antoine</p>
        <p class="text2Card">Zagett</p>
        <p class="text3Card">Directeur Marketing</p>
      </ion-col>
    </ion-row>
    <div class="separator2"></div>
    <ion-row>
      <ion-avatar class="imgCard2">
        <img src="/assets/img/arnaud.png"/>
      </ion-avatar>
     <p class="text4Card">Introduction réalisé par <span>Arnaud Gazet</span></p>
    </ion-row>
    </ion-card>
  <!-- <div class="divButtom">
    
      <p class="textActiveRech">Activer MA RECHERCHE</p>
      <ion-toggle class="toggle"></ion-toggle>
   <p class="textActiveRech2">Garde votre recherche visible par vos amis. <br>Vous pouvez l’activer/désactiver à tout moment.</p>
  </div> -->
</ion-content>
