<ion-header class="header">
  <ion-grid>
    <ion-row class="rowHeader">
      <img src='/assets/images/iconGoBack.png' class='iconGoBack' (click)='goBack()'/>
      <p class="title">{{ 'email_page_title' | translate }}</p>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <div class="divEmail">
    <p class="textEmail">olivier.mathiot@themcamp.com</p>
    <ion-checkbox checked='true' class="checkBox1" > </ion-checkbox>
  </div>
  <p class="text1">{{ 'email_page_verified_email_address' | translate }}</p>
  <div class="lineHorizontal"></div>
  <p class="text2">{{ 'email_page_reminder_emails' | translate }} </p>
  <div class="divCheck">
    <p class="textCheck" [class.textChecked]='check1'>{{ 'email_page_reminder_emails_everyday' | translate }}</p>
    <ion-checkbox *ngIf='check1' checked='true' (click)="checkListCheck1()" > </ion-checkbox>
    <ion-checkbox *ngIf='!check1' checked='false' (click)="checkListCheck1()" > </ion-checkbox>
  </div>

  <div class="divCheck">
    <p class="textCheck" [class.textChecked]='check2'>{{ 'email_page_reminder_emails_weekly' | translate }}</p>
    <ion-checkbox *ngIf='check2' checked='true' (click)="checkListCheck2()" > </ion-checkbox>
    <ion-checkbox *ngIf='!check2' checked='false' (click)="checkListCheck2()" > </ion-checkbox>
  </div>

  <div class="divCheck">
    <p class="textCheck" [class.textChecked]='check3'>{{ 'email_page_reminder_emails_none' | translate }}</p>
    <ion-checkbox *ngIf='check3' checked='true' (click)="checkListCheck3()"  > </ion-checkbox>
    <ion-checkbox *ngIf='!check3' checked='false' (click)="checkListCheck3()"  > </ion-checkbox>
  </div>

  <p class="text3">{{ 'email_page_reminder_emails_explication' | translate }}</p>
  <div class="lineHorizontal"></div>
  <p class="text2">{{ 'email_page_newsletter' | translate }}</p>
  <div class="divCheck">
    <p class="textCheck" [class.textChecked]='check4'>{{ 'yes_label' | translate }}</p>
    <ion-checkbox *ngIf='check4' checked='true' (click)="checkListCheck4()"  > </ion-checkbox>
    <ion-checkbox *ngIf='!check4' checked='false' (click)="checkListCheck4()"  > </ion-checkbox>
  </div>
  <div class="divCheck">
    <p class="textCheck" [class.textChecked]='check5'>{{ 'no_label' | translate }}</p>
    <ion-checkbox *ngIf='check5' checked='{{checked5}}' (click)="checkListCheck5()"  > </ion-checkbox>
    <ion-checkbox *ngIf='!check5' checked='false' (click)="checkListCheck5()"  > </ion-checkbox>
  </div>
  <p class="text3">{{ 'email_page_newsletter_explication' | translate }}</p>
  
</ion-content>
